# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Virtual Environment
venv/
ENV/
env.bak/
venv.bak/
.venv

# PyTorch / Models / Weights (Unignore carelens_efficientnet_b0.pt for cloud deployment)
*.pt
*.pth
*.onnx
*.safetensors
!ml/checkpoints/carelens_efficientnet_b0.pt

# Node / React
node_modules/
frontend/dist/
frontend/build/
.npm
.eslintcache

# Logs & Database
*.log
*.sqlite
*.sqlite3
*.db

# Environment variables
.env
.env.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
